<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alex.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>03C2F0FE175FD640BDD5FCB74A035D1188C812F2</string>
				<key>dateExpires</key>
				<string>29/5/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3G66D267KY.org.proficient.digital.Alex</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3G66D267KY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Alex.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1afac20e-a405-4b53-9635-70a0a4f66fba</string>
				<key>dateExpires</key>
				<string>29/5/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.proficient.digital.Alex</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3G66D267KY</string>
				<key>name</key>
				<string>UPP! INC.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
